alter table "public"."dua_lines_has_recitations" drop constraint "public_dua_lines_has_recitations_dua_recitation_id_fkey";

alter table "public"."dua_recitations" drop constraint "dua_recitation_pkey";

drop index if exists "public"."dua_recitation_pkey";

create table "public"."narrators" (
    "id" bigint generated by default as identity not null,
    "created_at" timestamp with time zone not null default now(),
    "updated_at" timestamp with time zone,
    "name" text not null
);


alter table "public"."narrators" enable row level security;

alter table "public"."dua_lines_has_recitations" drop column "dua_recitation_id";

alter table "public"."dua_lines_has_recitations" add column "dua_recitation_uuid" uuid not null;

alter table "public"."dua_recitations" drop column "id";

alter table "public"."dua_recitations" add column "uuid" uuid not null default gen_random_uuid();

alter table "public"."duas" add column "narrator_id" bigint;

CREATE UNIQUE INDEX dua_recitations_pkey ON public.dua_recitations USING btree (uuid);

CREATE UNIQUE INDEX narrators_pkey ON public.narrators USING btree (id);

alter table "public"."dua_recitations" add constraint "dua_recitations_pkey" PRIMARY KEY using index "dua_recitations_pkey";

alter table "public"."narrators" add constraint "narrators_pkey" PRIMARY KEY using index "narrators_pkey";

alter table "public"."dua_lines_has_recitations" add constraint "public_dua_lines_has_recitations_dua_recitation_uuid_fkey" FOREIGN KEY (dua_recitation_uuid) REFERENCES dua_recitations(uuid) ON UPDATE CASCADE ON DELETE CASCADE not valid;

alter table "public"."dua_lines_has_recitations" validate constraint "public_dua_lines_has_recitations_dua_recitation_uuid_fkey";

alter table "public"."duas" add constraint "public_duas_narrator_id_fkey" FOREIGN KEY (narrator_id) REFERENCES narrators(id) ON UPDATE CASCADE ON DELETE CASCADE not valid;

alter table "public"."duas" validate constraint "public_duas_narrator_id_fkey";

grant delete on table "public"."narrators" to "anon";

grant insert on table "public"."narrators" to "anon";

grant references on table "public"."narrators" to "anon";

grant select on table "public"."narrators" to "anon";

grant trigger on table "public"."narrators" to "anon";

grant truncate on table "public"."narrators" to "anon";

grant update on table "public"."narrators" to "anon";

grant delete on table "public"."narrators" to "authenticated";

grant insert on table "public"."narrators" to "authenticated";

grant references on table "public"."narrators" to "authenticated";

grant select on table "public"."narrators" to "authenticated";

grant trigger on table "public"."narrators" to "authenticated";

grant truncate on table "public"."narrators" to "authenticated";

grant update on table "public"."narrators" to "authenticated";

grant delete on table "public"."narrators" to "service_role";

grant insert on table "public"."narrators" to "service_role";

grant references on table "public"."narrators" to "service_role";

grant select on table "public"."narrators" to "service_role";

grant trigger on table "public"."narrators" to "service_role";

grant truncate on table "public"."narrators" to "service_role";

grant update on table "public"."narrators" to "service_role";

CREATE TRIGGER handle_duas_updated_at BEFORE UPDATE ON public.duas FOR EACH ROW EXECUTE FUNCTION moddatetime('updated_at');

